@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  @apply min-h-screen flex flex-col
}
section{
   @apply h-[calc(100vh-3.5rem)] flex-grow px-10 py-5 flex flex-col gap-y-4
}

h1{
  @apply text-5xl
}
h2{
  @apply text-3xl font-medium
}
h3{
  @apply text-2xl
}
h4{
  @apply text-xl
}
h5{
  @apply text-lg
}
h6{
  @apply text-base
}