[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
asyncpg = "*"
pydantic-settings = "*"
python-jose = "*"
psycopg2-binary = "*"
passlib = "*"
bcrypt = "*"
python-multipart = "*"
shapely = "*"

[dev-packages]

[requires]
